.text {
  font-family: 'Source Sans Pro', sans-serif;
}

.large_text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24pt;
  text-align: center;
  vertical-align: 35%;
}

.mic-button {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: grey;
  background-image:url('https://www.airmanopus.net/huskiehack/images/mic_icon.jpeg');
  background-repeat:no-repeat;
}

.no-display {
  display: none;
}

.yes-display {
  display: block;
  visibility: visible;
}
